<!DOCTYPE html>

<html>
    <head>
      <style>
        table, tr, th, td{
          border: 1px solid black;
          border-collapse : collapse;
          padding : 5px;
        }
      </style>
    </head>

    <body>
      <center><h1> Nombre de chats par villes </h1></center>
      <h3> Il y a <%= nbC %> chats dans les villes de <% // a compléter %> : </h3>

    </body>

</html>
