<!DOCTYPE html>

<html>
    <head>
      <style>
        table, tr, th, td{
          border: 1px solid black;
          border-collapse : collapse;
          padding : 5px;
        }
      </style>
    </head>

    <body>
      <center><h1> Recherche par villes </h1></center>
      <h3> Rechercher des chats dans différentes villes :  </h3>

      <form id = "formVille" method="get" action="/compteParVilles">
      <% for(var i = 1; i <= nb; i++){ %>
        <div>
          <label for="name">Ville n°<%= i %> : </label>
          <input type="text" id="v<%=i%>" name="v<%=i%>">
        </div>
      <% } %>


        <div class="button">
          <button type="submit">Rechercher</button>
        </div>

    </form>

    </body>
  </html>
